body {
            background: #eef;
            padding: 10px;
            text-align:  center;
        }

        h1 {
            color: #3366cc
        }

        h3 {
            font-size: 20px;
        }

        input {
            font-size: 18px;
            padding: 5px;
            margin: 10px;
        }

        button {
            font-size: 18px;
            padding: 5px 6px;
        }

        div.mycontainer {
            width:100%;
            overflow:auto;
        }

        div.mycontainer div {
            width:33%;
            float:left;
        }

        #feedback {
            margin-top: 15px;
            font-weight: bold;
        }

        #input-row {
            display:flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            margin: 5px 0;
            transform: translateX(20px);
        }

        #question-counter {
            font-size: 18px;
            font-weight: bold;
            color: #555
        }